* {
  padding: 0;
  margin: 0;
}

body {
  background-color: black;
}

.content {
  max-width: 700px;
  margin: auto;
  padding: 10px;
  background-color: #eee;
}

.reset-button {
  background-color: rgb(224, 221, 0);
  color: rgb(42, 42, 42);
  padding: 5px 7px;
  border-style: none;
  border: 1px solid rgb(109, 116, 25);
  border-radius: 30px;
  font-size: medium;
}

.header {
  margin: 30px 0 25px;
  text-align: center;
  color: darkblue;
}

.instructions {
  margin-bottom: 40px;
  text-align: center;
  font-style: italic;
}

#weapon-locker {
  display: flex;
}

.weapon-locker {
  display: flex;
  justify-content: center;
}

.weapon {
  border: 2px solid black;
  padding: 5px;
  border-radius: 5px;
  margin: 20px;
}

.show-weapon-selected {
  border: 3px solid black;
  max-width: 100px;
  margin: 0 auto;
}

.AI-selected {
  color: blue;
}
